<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Wyszukiwarka gmin </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polska/style.css' %}" />
    <script src="{% static 'polska/utils.js' %}" type="application/javascript"></script>
    <script src="{% static 'polska/search.js' %}" type="application/javascript"> </script>

</head>
<body onload="get_gminy('{{ gmina }}')">
<div class="subunits">
    <ul>

    </ul>
</div>
</body>
</html>