<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Wyszukiwarka gmin </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polska/style.css' %}" />
    <script type="application/javascript" src="{% static 'polska/jscookie.js' %}"> </script>
    <script src="{% static 'polska/utils.js' %}" type="application/javascript"></script>
    <script src="{% static 'polska/search.js' %}" type="application/javascript"> </script>

</head>
<body onload="get_gminy('{{ gmina }}')">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="subunits">
    <ul>

    </ul>

</div>

<a href="{{ back }}"> Powrót </a>
</body>
</html>