{% extends "president/unit.html" %}
{% block pdfwyniki %}

{% if user.is_authenticated %}
    <div>
        <h2> Edytuj liczbę głosów </h2>
        <form action="edit_votes/" method="post">
            {% csrf_token %}
            {{ edit_votes_form.as_p }}
            <input type="submit" value="Zmien"/>
        </form>
    </div>
{% endif %}

{% if results_pdf != '' %}
    <div>
    <h2>
        <a href={{ results_pdf }}> Protokół z wynikami obwodu </a>
    </h2>
    </div>
{% else %}
    {% if user.is_authenticated %}
    <div>
        <h2> Zuploaduj plik z wynikami. </h2>
        <form action="upload_pdf/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form.as_p }}
            <input type="submit" value="Upload"/>
        </form>
    </div>
    {% endif %}
{% endif %}
{% endblock %}