{% extends "president/unit.html" %}
{% block importy %}
    {% load static %}
    <script type="text/javascript" src="{% static 'polska/edit_votes.js' %}"></script>
{% endblock %}

{% block pdfwyniki %}
{% if user.is_authenticated %}
    <div>
        <h2> Edytuj liczbę głosów </h2>
        <form id="editing" onsubmit="processForm('{{ name }}'); return false;" method="post">
            {% csrf_token %}
            {{ edit_votes_form.as_p }}
            <button id="submit-edit" type="submit"> Zmień </button>
        </form>
    </div>
{% endif %}

{% if user.is_authenticated %}
    <div id="upload">
        <h2> Zuploaduj plik z wynikami. </h2>
        <form action="upload_pdf/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form.as_p }}
            <input type="submit" value="Upload"/>
        </form>
    </div>
{% endif %}

<div id="pdf_file">

</div>

{% endblock %}