<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> Wybory prezydenckie 2000 </title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polska/style.css' %}" />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="{% static 'polska/results.js' %}"></script>

    <script type="text/javascript">
        let xhr;
        xhr = new XMLHttpRequest();

        let url = 'http://127.0.0.1:8000/polska/data/' + '{{ typ }}' + '/' + '{{  name }}';

        xhr.open('GET', url, true);
        xhr.send();
        xhr.addEventListener("readystatechange", processRequest, false);

    function processRequest(e) {
        if (xhr.readyState == 4 && xhr.status == 200) {
            let response = JSON.parse(xhr.responseText);


      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(
            response.diagram
        );


        var options = {
          title: 'Wyniki wyborów',
          sliceVisibilityThreshold: .0
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
     }
    }


    </script>

</head>
<body onload="fill_unit_data('{{ typ }}', '{{ name }}')"  >
    {% if user.is_authenticated %}
        <p> Zalogowany {{ user.username }} <a href="/polska/logout/"> Wyloguj! </a> </p>
    {% endif %}

    <div>
        <ul class="topnav">
            {% for ancestor, link in ancestors %}
                <li> <a href=/polska/{{ link }}> {{ ancestor.name }} </a> </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2> Wyszukiwarka gmin </h2>
        <form action="/polska/search/"  method="post">
            {% csrf_token %}
            {{ search_form.as_p }}
            <input type="submit" value="Wyszukaj!"/>
        </form>
    </div>

    {% if not user.is_authenticated %}
    <div>
        <h2> Logowanie </h2>
        <form action="/polska/login/" method="post">
            {% csrf_token %}
            login_form.as_p
            <input type="submit" value="Zaloguj!"/>
        </form>
    </div>
    {% endif %}

    {% block pdfwyniki %}

    {% endblock %}


    <div id="piechart" style="width: 900px; height: 500px;">

    </div>

    <div>
        <h2>
            Wyniki wyborów
        </h2>
        <table class = "votes">
            <tr>
                <th> Kandydat </th>
                <th> Liczba głosów</th>
                <th> Procent głosów </th>
            </tr>
            {% for cand in candidates %}
                <tr>
                    <td> {{ cand.str }}  </td>
                    <td> {{ 0 }} </td>
                    <td> {{ 0|floatformat:-2 }} </td>
                </tr>
            {% endfor %}
        </table>

    </div>


   <div>
        <h2> Ogólne statystyki </h2>
        <table class = "votes">
            {% for rubryka in rubryki %}
                {% if rubryka == 'Frekwencja' %}
                    <tr>
                        <td> {{ rubryka }} </td>
                        <td> {{ 0|floatformat:-2 }} </td>
                    </tr>
                {% else %}
                    <tr>
                        <td> {{ rubryka }} </td>
                        <td> {{ 0|floatformat }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="subunits">
        <ul>
            {% for subunit, link in subunits %}
                <li>
                    <a href=/polska/{{ link }}> {{ subunit.name }} </a>
                </li>
            {% endfor %}
        </ul>
    </div>



</body>
</html>